<!doctype html>
<html lang="en">
    <head>
        <title>Group Project</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body onload="fetchStudents()">
        <h1>What did you like most about the bootcamp?</h1>
        <div>
            <form>
                <div class="InputBox">
    <label for="choice">What did you like most about the bootcamp?</label></div>
    <div><input type="checkbox" name="Bootcamp" required="required" id="P1">
   
     <span>The Technologies Used</span> </div>
     <div><input type="checkbox" name="Bootcamp" required="required" id="P2">
    
     <span>The Skills Acquired</span> </div>
     <div><input type="checkbox" name="Bootcamp" required="required" id="P3">
    
     <span>The Food And Drinks</span> </div>
     <div><input type="checkbox" name="Bootcamp" required="required" id="P4">
     
     <span>The Accomodation</span> </div>
     <div><input type="checkbox" name="Bootcamp" required="required" id="P5">
    
     <span>The Trainers</span> </div>
     <div><input type="checkbox" name="Bootcamp" required="required" id="P6">
    
     <span>Your Fellow Students</span> </div>
     <div>
     <input type="checkbox" name="Bootcamp" required="required" id="P7">
     <span>Nothing</span> </div>
     <div><input type="submit" value="submit"> </div>
   </div>